# Ignoruj foldery z pobranymi i wygenerowanymi multimediami
highlights/
exports/

# Ignoruj wygenerowane pliki ze śledzenia followersów
followers_state_*.json
raport_*.txt

# Pobrane flagi 
flags/

# Tymczasowe pliki i cache Pythona 
__pycache__/
*.pyc
*.sqlite

# Tymczasowe pliki eksportera
hl_*/
*.frame.png
*.ov.png
*.list.txt
